.App {
  height: 100%;
  min-height: 100vh;
  background-color: #2b2b2b;
  padding: 2vw;
}
.editor-container {
  display: flex;
  gap: 3vw;
  height: 75vh;
  justify-content: center;
}
.preview-container {
  padding: 1vw;
  border: 1px solid gray;
  border-radius: 0.25rem;
  background: white;
}
